<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="file"
            xsi:type="File"
            fileName="${basedir}/apilogs/${shortdate}/${level}_${shortdate}.txt"
            keepFileOpen="false"
            encoding="UTF-8" />
    <target name="console"
            xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}"/>
  </targets>
  <rules>
    <logger name="*"
            minlevel="Trace"
            writeTo="console,file"/>
  </rules>
</nlog>

